
<h2>Carrito de Compra</h2>
<div *ngIf="carrito.length > 0">
    <ul>
        <li *ngFor="let producto of carrito; let i = index">
            {{ producto.nombre }} - ${{ producto.precio }}
            
                <button (click)="agregarProducto(producto)">Agregar +</button>
                <button (click)="eliminarProducto(i)">Eliminar</button>
            
            
        </li>
    </ul>
    <button (click)="generarXML()">Recibo</button>
</div>
<p *ngIf="carrito.length == 0">El carrito está vacío</p>
